:root {
    --main-color: #F03A47;
    --secondary-color: #1C4E87;
    --border-color: #ccc;
    --border2-color:rgb(8, 8, 8);
    --bg-color: #a8bcdb;
    --bg2-color: #1664ad;
    --table-bg-color: #F5F5F5;
    --table-bg2-color: #dfdfdf;
    --text-color: #0f0f0f;
    --text2-color: white;
    --text3-color: #071922;
    --text4-color: #0A2533;

    --username-color: #2000d4;
    --post-head-bg-color: rgb(27, 92, 153);
    --post-bg-color: rgb(55, 126, 167);
    --forum-title-color: #00313D;
}
html, body {
    height: 100%;
    overflow: auto; /* or scroll */
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: Monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
main {
    flex: 1;
}
header {
    background-color: var(--main-color);
    color: var(--text-color);/* var(--secondary-color); */
    padding: 0; /* Removed vertical padding */
    text-align: left;
    border: 1px solid var(--border2-color);
    border-left: None;
    border-right: None;
    height: 64px;
    background-image: url('../images/mask.png'); /* Add mask image */
    background-repeat: no-repeat;
    background-position: 24px -42px; /* Position the mask on the left */
    background-size: 384px; /* Adjust size of the mask */
    background-blend-mode: multiply; /* Blend the mask with the background color */
    display: flex;
    align-items: center; /* Vertically align the text */
    position: relative; /* Enable positioning for child elements */
    justify-content: center; /* Center content horizontally */
    gap: 10px; /* Add spacing between elements */
}